main.json
[{"id":"681d6d03.065c14","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"52e670ed.e278b","type":"watson-conversation-v1","z":"681d6d03.065c14","name":"Watson Assistant","workspaceid":"","multiuser":false,"context":true,"empty-payload":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":true,"x":521,"y":285,"wires":[["a554db9c.73ef98","5cd29ed.657296"]]},{"id":"5cd29ed.657296","type":"debug","z":"681d6d03.065c14","name":"output (Text)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":776,"y":225,"wires":[]},{"id":"86e7837c.3aec","type":"play audio","z":"681d6d03.065c14","name":"output (Audio)","voice":"0","x":760,"y":406,"wires":[]},{"id":"2a1b820c.3ecefe","type":"watson-text-to-speech-v1-query-builder","z":"681d6d03.065c14","name":"AIBRIL Text-to-Speech","password":"","apikey":"","tts-lang":"ko-KR","tts-langhidden":"","tts-custom-mode":"createCustomisation","tts-custom-model-name":"voice","tts-custom-model-description":"yuna","tts-custom-id":"","tts-custom-word":"","tts-custom-format":"","tts-voice-or-custom":"","tts-voice":"","tts-voicehidden":"","default-endpoint":false,"service-endpoint":"https://stream.aibril-watson.kr/text-to-speech/api","x":531,"y":406,"wires":[["86e7837c.3aec"]]},{"id":"38298a4c.a17406","type":"microphone","z":"681d6d03.065c14","name":"input (Microphone)","x":160,"y":78,"wires":[["fe44036e.ad10d"]]},{"id":"fe44036e.ad10d","type":"watson-speech-to-text","z":"681d6d03.065c14","name":"IBM Speech-to-Text","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"ko-KR","langhidden":"ko-KR","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"","password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":310,"y":225,"wires":[["fb250f13.14cc5"]]},{"id":"a554db9c.73ef98","type":"function","z":"681d6d03.065c14","name":"Assistant Output Processing","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":343,"wires":[["2a1b820c.3ecefe"]]},{"id":"fb250f13.14cc5","type":"function","z":"681d6d03.065c14","name":"STT Processing","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":507,"y":225,"wires":[["5cd29ed.657296","52e670ed.e278b"]]}]
